__pycache__/
**/__pycache__/ 

*.pyc

bulkzip/
"Bulk-Test-Visualizers .zip"
Bulk-Test-Visualizers.zip
Bulk-Test.xlsx
Test.xlsx
Visualizer-Test.html
src/stringZ/export/templates/visualizer_template_testing-features.html

uploads/
tests/
